# LaTeX
*-blx.bib
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# tags
tags
